* {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: rgb(23, 22, 22) !important;
  color: rgb(184, 182, 179) !important;
  text-shadow: 2px 2px 2px black;
  font-family: "Hanalei Fill", system-ui;
  font-family: "Press Start 2P", system-ui;
}

body {
  width: 100vw !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: rgb(5, 5, 5);
  text-align: center;
}

marquee {
  width: 100%;
  width: 350px;
  background: #0b0b0b !important;
  letter-spacing: 3px;
  word-spacing: 6px;
}

#result,
#gamecontainer,
#settings,
#sounderbox {
  height: 500px;
  position: absolute;
  width: 350px;
  box-shadow: 2px 2px 6px 5px black;
  box-sizing: border-box;
  margin: auto;
  font-size: 23px !important;
}

#result {
  background: linear-gradient(117deg, transparent, rgba(192, 192, 192, 0.697), rgba(211, 211, 211, 0.329)),
    linear-gradient(227deg, transparent, rgba(211, 211, 211, 0.291)),
    linear-gradient(360deg, rgba(192, 192, 192, 0.457), transparent) !important;
  z-index: 98;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  #winners {
    background: rgb(16, 15, 15) !important;
    width: 350px;
    height: 100%;
    border: 10px solid #777321;
    display: flex;
    flex-direction: column;
    text-shadow: 4px 4px 4px white !important;
    text-shadow: 3px 2px 1px #123;

    #msg {
      background: none !important;
      width: 320px;
      height: 25.5%;
      font-size: 50px !important;
      padding-top: 12%;
      color: #c1ba39 !important;
      text-shadow: 1px 1px 1px rgb(249, 244, 244) !important;
    }

    #winning_player {
      background: none !important;
      width: 320px;
      height: 24.4%;
      font-size: 22px !important;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      color: #c1ba39 !important;
      text-shadow: 1px 1px 1px rgb(205, 200, 200) !important;
      padding-top: 12%;

      span {
        background: none !important;
        color: #c1ba39 !important;
        text-shadow: 2px 2px 2px rgb(24, 23, 23) !important;
      }
    }

    #rightanswer {
      background: #666451;
      background: none !important;
      width: 320px;
      height: 24.5%;
      padding-top: 12%;
      font-size: 22px !important;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      color: #c1ba39 !important;
      text-shadow: 2px 2px 2px rgb(34, 31, 31) !important;

      span {
        background: none !important;
        color: #c1ba39 !important;
        text-shadow: 2px 2px 2px rgb(20, 18, 18) !important;
      }
    }

    #winning_score {
      background: #45432e;
      background: none !important;
      width: 320px;
      height: 24.6%;
      padding-top: 12%;
      font-size: 22px !important;
      display: flex;
      justify-content: space-between;
      color: #c1ba39 !important;
      align-items: stretch;
      text-shadow: 2px 2px 2px rgb(33, 28, 28) !important;

      span {
        background: none !important;
        color: #c1ba39 !important;
        text-shadow: 2px 2px 2px rgb(20, 19, 19) !important;
      }
    }
  }
}

#gamecontainer {
  z-index: 99;
  min-width: 350px;
  max-width: 350px;
  /*background: linear-gradient(to bottom, rgb(5, 10, 15), rgba(19, 18, 18, 0.912), rgb(15, 18, 19)) !important;
  */
  padding: .1% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  gap: 3px;

  #board {
    width: 345px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 3px;
    padding: 5px 3px;

    #player {
      /*background: rgba(17, 34, 51, 0) !important;*/
      /*background: linear-gradient(to top, rgb(12, 24, 35), rgb(54, 106, 159));*/
      background: none !important;
      width: 337px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      box-sizing: border-box;
      font-size: 15px !important;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

      .name {
        width: 140px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        box-sizing: border-box;
        gap: 12px;
        font-size: 12px !important;

        #name {
          background: none !important;
          width: 140px;
          color: #cbc69e;
          text-align: left;
        }
      }

      .lives {
        width: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        box-sizing: border-box;
        gap: 12px;
        font-size: 12px !important;

        #live {
          width: 80px;
          color: #cbc69e;
          text-align: left;
        }
      }

      .score {
        width: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        box-sizing: border-box;
        text-align: right;
        text-indent: 20px;
        gap: 12px;
        font-size: 12px !important;

        #score {
          width: 80px;
          color: #cbc69e;
          text-align: left;
        }
      }

    }
  }


  #lettermistakes {
    width: 350px;
    background-color: #55523d;
    text-align: left;
    display: flex;
    margin-top: 2px;
    text-indent: 12px;
    font-size: 12px !important;

    #mistakes {
      width: 270px;
      background-color: #9991232e;
      text-indent: 5px;
    }
  }

  #word {
    background: unset;
    background-image: url('back4.jpg') !important;
    display: flex;
    width: 350px;
    height: 200px;
    margin: 2px auto;
    font-size: 18px !important;

    #converffromdash {
      color: antiquewhite;
      font-size: 25px;
      letter-spacing: 1px;
      background: unset;
      background-color: rgb(8, 17, 25) !important;
      padding: 0 18px;
      padding-bottom: 10px;
      border: 7px solid rgb(6, 12, 18);

      span {
        background: none !important;
        font-size: 28px !important;
        letter-spacing: 1px;
      }
    }
  }


}

#playername::placeholder {
  color: lightgrey;
  text-indent: 20px
}

#backname::placeholder {
  color: lightgrey;
  text-indent: 20px
}

#soundname::placeholder {
  color: lightgrey;
  text-indent: 20px
}

#settings {
  min-width: 350px;
  max-width: 350px;
  display: flex;
  background-color: rgb(137, 127, 111);
  z-index: 100;
  font-size: 20px !important;

  #information {
    min-width: 350px;
    max-width: 350px;
    background: linear-gradient(to top, rgb(15, 15, 15), rgba(255, 166, 0, 0.189), rgba(128, 128, 128, 0.212), #0b0b0bb1, rgba(24, 23, 23, 0.212)) !important;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 20px;
    font-size: 12px !important;

    #settings_title {
      min-width: 350px;
      text-align: center;
      padding: 10px 0;
      background: linear-gradient(to top, rgba(153, 136, 119, 0.363), rgba(255, 166, 0, 0.294), rgba(128, 128, 128, 0.157), #77777748, rgba(153, 136, 119, 0.163)) !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;

      #master {
        color: #cbc69e;
        font-size: 35px !important;
        min-height: 6px;
        max-height: 17px;
        background-color: transparent !important;

        #log {
          width: 40px;
          height: 40px;
          background-size: cover;
          background-image: url('log.png');
        }
      }

      #creatorofapp {
        font-size: 16px !important;
        color: rgb(78, 62, 78) !important;
        text-shadow: 1px 1px 1px grey;
        text-align: left;
        text-indent: 5px;
        min-height: 6px;
        background: transparent !important;
        width: 350px;
        font-weight: bold;
      }
    }


    #settings_btn {
      min-width: 350px;
      text-align: center;
      padding: 20px 0;
      color: white;
      background: linear-gradient(to bottom, rgba(255, 166, 0, 0.274), #99912331, #77732153, #66645650) !important;
      background: linear-gradient(rgba(25, 47, 68, 0.382), rgba(55, 55, 55, 0.234), rgba(12, 20, 27, 0.607), rgba(53, 42, 31, 0.248)) !important;
      font-size: 22px !important;
      transition: 8s;
      border-bottom: 2px solid transparent;
    }

    #settings_btn:hover {
      transition: 8s;
      background: linear-gradient(to bottom, orange, #999123, #777321, #666456) !important;
      background: linear-gradient(rgba(25, 47, 68, 0.382), rgba(55, 55, 55, 0.234), rgb(8, 16, 24), rgba(53, 42, 31, 0.394)) !important;
      cursor: pointer;
      border-bottom: 2px solid black;
    }

    #playername {
      min-width: 250px !important;
      max-width: 250px !important;
      text-align: left;
      text-indent: 6px;
      padding: 15px 0;
      background: #666456 !important;
      color: #cbc69e;
      font-size: 18px !important;
    }

    #backname {
      min-width: 250px !important;
      max-width: 250px !important;
      text-align: left;
      text-indent: 6px;
      padding: 15px 0;
      background: #666456 !important;
      color: #cbc69e;
      font-size: 18px !important;
    }

    #soundname {
      min-width: 250px !important;
      max-width: 250px !important;
      text-align: left;
      text-indent: 6px;
      padding: 15px 0;
      background: #666456 !important;
      color: #cbc69e;
      font-size: 18px !important;
      box-sizing: border-box;
    }
  }
}

#sounderbox {
  min-height: 15%;
  max-height: 15%;
  visibility: hidden;
  display: flex;
  flex-direction: row !important;
  justify-content: start;
  min-width: 350px !important;
  max-width: 350px !important;
  width: 350px !important;
  background-color: #777321;
  z-index: 96;

  #sounder {
    width: 100%;
    height: 100%;
    opacity: .5;
    min-width: 350px !important;
    max-width: 350px !important;
    width: 350px !important;
    z-index: 444;

    #sndbtn {
      width: 1%;
      height: 11%;
      opacity: .5;
      min-width: 50px !important;
      max-width: 50px !important;
      width: 50px !important;
      z-index: 445;
    }

    #sndbtn:hover {
      cursor: pointer;
      background: #123;
      color: #999123;
      z-index: 445;
    }
  }

  #sounder:hover {
    width: 100%;
    opacity: .8;
  }
}

#inputs {
  display: flex;
  width: 350px;
  height: 200px;
  margin: 2px auto;
  background: rgb(89, 102, 52);
  background: transparent !important;
  font-size: 15px !important;

  #letter {
    background: transparent !important;
    font-size: 100px;
    color: #999123;
  }

  select::-webkit-scrollbar {
    display: none;
  }
}

.backo {
  background: radial-gradient(rgb(125, 147, 168), rgba(255, 255, 0, 0.211), rgb(8, 16, 24), rgb(53, 142, 231)) !important;
  font-size: 20px !important;
  color: transparent !important;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  transition: 2s;
}

.backo:hover {
  transition: 1s;
  background: radial-gradient(rgb(238, 242, 246), rgba(255, 255, 0, 0.294), rgb(14, 15, 6), rgb(223, 227, 232)) !important;
  height: 110px;
  border-radius: 50%;
  cursor: pointer;
  color: transparent !important;
  font-size: 24px !important;
}

.facko {
  background: radial-gradient(rgb(125, 147, 168), rgba(255, 255, 0, 0.211), rgb(8, 16, 24), rgb(53, 142, 231)) !important;
  font-size: 20px !important;
  color: transparent !important;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  transition: 2s;
}

.facko:hover {
  background: radial-gradient(rgba(125, 147, 168, 0.382), rgba(255, 255, 255, 0.234), rgb(8, 16, 24), rgba(53, 142, 231, 0.394)) !important;
  color: transparent !important;
  height: 110px;
  border-radius: 50%;
  transition: 1s;
  cursor: pointer;
  font-size: 24px !important;
}

#guess {
  color: transparent !important;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5) !important;
}